@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #dceeff;
  }
}

@layer components {
  .img {
    @apply max-w-full;
  }

  .input-style {
    @apply w-full p-5 rounded-lg font-semibold outline-primaryClr;
  }
}

@layer utilities {
  .desktop-screen {
    max-width: 1440px;
  }

  .border-radius {
    border-radius: 50px;
  }

  .white-box {
    max-height: 580px;
    max-width: 580px;
  }

  .feature-card {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .loading {
    width: 100px;
    height: 100px;
    border: 3px solid gray;
    border-radius: 50%;
    border-top-color: #38a1ff;
    margin: 0 auto;
    animation: spinner 0.5s linear infinite;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}
